<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:switch="${courses}" class="container my-5">
    <h2 th:case="null">No clases yet!</h2>
    <p th:text="${size}"></p>
    <div th:case="*"> <h2 class="my-5">Courses</h2>
        <ol>
            <li th:each="cour: ${courses}" th:text = "${cour.name}"></li>
        </ol>
    </div>
</div>
</body>
</html>