		table {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
​
		table td{
			border: 1px solid #ddd;
			padding: 8px;
		}
​
		table tr:nth-child(even){
			background-color: #f2f2f2;
		}
​
		table tr:hover {
			background-color: #ddd;
		}
​
		table th {
			padding-top: 12px;
			padding-botom: 12px;
			text-align: left;
			background-color: #4CAF50;
			color: white;
		}
		
		input[type="button"] {
			background-color: #f4511e;
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			font-size: 16px;
			margin: 4px 2px;
			opacity: 0.6;
			transition: 1s;
			display: inline-block;
			text-decoration: none;
			cursor: pointer;
			}
​
		input[type="button"]:hover {
			opacity: 1
		}
